{% extends 'base.html.twig' %}

{% block body %}
       <div class="container">
            <div class="row last-match" >
                <div class="col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-4">
                        <div class="col-xs-12 col-md-12">
                            <img src="{{ asset('bundles/acmeblog/images/vfllohbruegge.gif') }}" class="img-responsive center-block" />
                        </div>
                        <div class="col-xs-12 col-md-12 team">
                           VfL 3.
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="col-xs-12 col-md-12">
                            <h2 class="score"> 3 <b>:</b> 0</h2>
                        </div>
                            <div class="col-xs-12 col-md-12 team">
                                <a href="">Zum Spielbericht</a>
                            </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="col-xs-12 col-md-12">
                            <img src="{{ asset('bundles/acmeblog/images/fcbergedorf85.png') }}" class="img-responsive center-block"/>
                        </div>
                        <div class="col-xs-12 col-md-12 team">
                            FC Bergedorf 85
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-2"></div>
                    <div class="col-xs-12 col-md-10">
                        <table class="table">
                            <tr>
                                <th style="background: #0061aa; color: #fff;">Nächste Spiele</th>
                            </tr>
                            {% for event in events %}
                            <tr>
                                <td class="team1">{{ event.heim }}</td><td class="date">{{ event.next|date('d M y') }}</td><td class="team2">{{ event.gast }}</td><td><a href="" class="fa fa-send"></a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel
    ================================================== -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="first-slide" src="{{ asset('bundles/acmeblog/images/hpslide.jpg') }}" alt="First slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h2>Deutschland</h2>
                                <p>gegen</p>
                                <h2>England</h2>
                            </div>
                        </div>
                </div>
                <div class="item">
                    <img class="second-slide" src="{{ asset('bundles/acmeblog/images/hpslide2.jpg') }}" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h2>Kreisklasse</h2>
                                <p>auf neuem Niveau</p>
                            </div>
                        </div>
                </div>
            </div>
        </div><!-- /.carousel -->
    <div class="container">
            <div class="col-xs-12 col-md-6">
                <div class="tab">Ankündigung</div>
                <div class="box-blue">
                    <p>Am 27.05.15 findet eine Mannschaftsbesprechung statt um 19:30 Uhr.  Am 27.05.15 findet eine Mannschaftsbesprechung statt um 19:30 Uhr.Am 27.05.15 findet eine Mannschaftsbesprechung statt um 19:30 Uhr.Am 27.05.15 findet eine Mannschaftsbesprechung statt um 19:30 Uhr.Am 27.05.15 findet eine Mannschaftsbesprechung statt um 19:30 Uhr.Am 27.05.15 findet eine Mannschaftsbesprechung statt um 19:30 Uhr.   </p>
                </div>
                <div class="tab">Training</div>
                <div class="box-blue">
                    Die 3. Herren trainiert zwei Tage in der Woche. Montags um <b>19:15 Uhr</b> am <b>Sportplatz Sander Tannen</b> (FC Bergedorf 85) und Mittwochs um <b>19:15 Uhr</b> am <b>Sportplatz Binnenfeldredder</b>.
                </div>
            </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 clearfix">
                <div class="col-md-12">
                <div class="tab">News</div>
                    <div class="box-blue">
                        {% for article in articles %}
                        <div class="news-text">
                            <a href="article/{{ article.alias }}"><h4>{{ article.headline }}</h4></a>
                               {{ article.articleContent|length > 150 ? article.articleContent|striptags|slice(0, 150) ~ '...' : article.articleContent }}
                            <span class="date-news">{{ article.createdDate |date('d M') }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="tab">Tabelle</div>
                        <div class="box-blue">
                            <table class="table tabelle">
                                <tr class="t-h">
                                    <th class="t-d">Pos</th>
                                    <th>Team</th>
                                    <th>Sp.</th>
                                    <th>G</th>
                                    <th>U</th>
                                    <th>N</th>
                                    <th>Td</th>
                                    <th>Pkt</th>
                                </tr>
                                {{ table|raw }}
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}            