{% extends 'base.html.twig' %}

{% block body %}
       <div class="container">
            <div class="row last-match" >
                <div class="col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-4">
                        <div class="col-xs-12 col-md-12">
                            <img src="{{lastgame.0.logoheim}}" height="130px" class="img-responsive center-block" />
                        </div>
                        <div class="col-xs-12 col-md-12 team">
                           {{lastgame.0.heim}}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="col-xs-12 col-md-12">
                            <h2 class="score">{{lastgame.0.toreheim}}<b>:</b>{{lastgame.0.toregast}}</h2>
                        </div>

                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="col-xs-12 col-md-12">
                            <img src="{{lastgame.0.logogast}}" height="130px" class="img-responsive center-block"/>
                        </div>
                        <div class="col-xs-12 col-md-12 team">
                            {{ lastgame.0.gast }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-2"></div>
                    <div class="col-xs-12 col-md-10">
                        <table class="table">
                            <tr>
                                <th style="background: #0061aa; color: #fff;">Nächste Spiele</th>
                            </tr>
                            {% for event in events %}
                            <tr>
                                <td class="team1">{{ event.heim }}</td><td class="date">{{ event.startdate|date('d M y') }}</td><td class="team2">{{ event.gast }}</td><td><a href="/termin/{{ event.alias }}" class="fa fa-send"></a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel
    ================================================== -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="first-slide" src="{{ asset('bundles/acmeblog/images/hpslide.jpg') }}" alt="First slide">
                </div>
                <div class="item">
                    <img class="second-slide" src="{{ asset('bundles/acmeblog/images/hpslide2.jpg') }}" alt="Second slide">
                </div>
            </div>
        </div><!-- /.carousel -->
    <div class="container">
            <div class="col-xs-12 col-md-6">
                <div class="tab">Ankündigung</div>
                <div class="box-blue">
                    {% for announce in announces %}
                        {{ announce.articleContent|striptags }}
                    {% endfor %}  
                </div>
                <div class="tab">Training</div>
                <div class="box-blue">
                    Die 3. Herren trainiert zwei Tage in der Woche. Montags um <b>19:15 Uhr</b> am <b>Sportplatz Sander Tannen</b> (FC Bergedorf 85) und Mittwochs um <b>19:15 Uhr</b> am <b>Sportplatz Binnenfeldredder</b>.
                </div>
                    <div class="tab">Tabelle</div>
                        <div class="box-blue">
                            <div class="table-responsive">
                            <table class="table tabelle">
                                <tr class="t-h">
                                    <th class="t-d">Pos</th>
                                    <th>Team</th>
                                    <th>Sp.</th>
                                    <th>Td</th>
                                    <th>Pkt</th>
                                </tr>
                                {{ table|raw }}
                            </table>
                            </div>
                        </div>
                </div>             
                
        <div class="row">
            <div class="col-xs-12 col-md-6 clearfix">
                <div class="col-md-12">
                <div class="tab">News</div>
                    <div class="box-blue">
                        {% for article in articles %}
                        <div class="news-text">
                            <a href="article/{{ article.alias }}"><h4>{{ article.headline }}</h4></a>
                               {{ article.articleContent|length > 150 ? article.articleContent|striptags|slice(0, 150) ~ '...' : article.articleContent }}
                            <span class="date-news">{{ article.createdDate |date('d M') }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}            