<!Doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
        <title>{% block title %}VfL Lohbrügge 3. Herren{% endblock %}</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href=" {{ asset('bundles/acmeblog/css/bootstrap.css') }} " rel="stylesheet" type="text/css" />
        <link href=" {{ asset('bundles/acmeadmin/css/sb-admin.css') }} " rel="stylesheet" type="text/css" />
        <script src=" {{ asset('bundles/acmeblog/js/angular.js') }} "></script>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src=" {{ asset('bundles/acmeblog/js/bootstrap.min.js') }} "></script>
        <script src=" {{ asset('bundles/acmeadmin/js/textAngular.min.js') }} "></script>
        <script src=" {{ asset('bundles/acmeadmin/js/textAngular-sanitize.min.js') }} "></script>
        <script src=" {{ asset('bundles/acmeadmin/js/textAngular-rangy.min.js') }} "></script>
        <script src=" {{ asset('bundles/acmeadmin/js/controller/app.js') }} "></script>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body ng-app="MyApp">

        <div id="wrapper">
                    <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin">Adminbereich</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.firstName }} {{ app.user.name }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/admin/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/admin/article/all"><i class="fa fa-fw fa-table"></i> Beiträge</a>
                    </li>
                    <li>
                        <a href="/admin/category/all"><i class="fa fa-tags"></i> Kategorien</a>
                    </li>
                    <li>
                        <a href="/admin/event/all"><i class="fa fa-fw fa-calendar"></i> Termine</a>
                    </li>
                    <li>
                        <a href="/admin/eventcategory/all"><i class="fa fa-tags"></i> Terminkategorien</a>
                    </li>
                    <li>
                        <a href="/admin/players/all"><i class="fa fa-fw fa-user"></i> Spieler</a>
                    </li>
                    <li>
                        <a href="/admin/media/all"><i class="fa fa-fw fa-file"></i> Media</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
           {% block body %}{% endblock %}
        </div>
    </body>
    
</html>