{% extends 'admin.html.twig' %}

{% block body %}
    <div id="page-wrapper">
       
            <div class="container-fluid" ng-app="textAngularTest"  ng-controller="myCtrl">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Beitrag erstellen</h1>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}	
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-info">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    </div> 
                    <div class="col-lg-7"> 
                         {{ form_widget(form.headline, { 'attr': {'class': 'form-control'} }) }}
                       
                        <div style='margin-top: 2em;'><text-angular ng-model="htmlVariable" ></text-angular></div>{{ form_widget(form.articleContent, { 'attr': {'ng-bind': 'htmlVariable', 'style': 'display: none;'} }) }}
                    </div>
                    <div class="col-lg-5"> 
			<div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Eigenschaften</h4>
                            </div>
                        <div class="panel-body">
                            <div id="accordion" class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse">Status</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                        {{ form_widget(form.state, { 'attr': {'class': 'form-control'}} ) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse">Sichtbarkeit </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        {{ form_widget(form.group, { 'attr': {'class': 'form-control'}} ) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapseThree" data-parent="#accordion" data-toggle="collapse">Veröffentlicht am</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        {{ form_widget(form.createdDate, { 'attr': {'class': 'form-control'}} ) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapseFour" data-parent="#accordion" data-toggle="collapse">Kategorie</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        {{ form_widget(form.category, { 'attr': {'class': 'form-control', 'ng-model':'category.type', 'ng-init=category.type':'1' } } ) }}
                                        </div>
                                    </div>
                                </div>                              
                            </div>
                                {{form_widget(form.save, { 'attr': {'class':'btn btn-lg btn-success'}} ) }}
                        </div>
                        </div>
                        <div class="panel panel-default" ng-if="category.type == 1">
                            <div class="panel-heading">
                                <h4>Aufstellung</h4>
                            </div>
                        <div class="panel-body">
                            <div id="accordion" class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#teamOne" data-parent="#accordion" data-toggle="collapse">Torwart</b></a>
                                        </h4>
                                    </div>
                                    <div id="teamOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ form_widget(form.aufgestellt.tw, { 'attr': {'class': 'form-control', 'placeholder':'Torwart'} }) }}                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#teamTwo" data-parent="#accordion" data-toggle="collapse">Abwehr</b></a>
                                        </h4>
                                    </div>
                                    <div id="teamTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ form_widget(form.aufgestellt.lav, { 'attr': {'class': 'form-control', 'placeholder':'R. Außenverteidiger'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.liv, { 'attr': {'class': 'form-control', 'placeholder':'L. Innenverteidiger'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.iv, { 'attr': {'class': 'form-control', 'placeholder':'Libero'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.riv, { 'attr': {'class': 'form-control', 'placeholder':'R. Innenverteidiger'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.rav, { 'attr': {'class': 'form-control', 'placeholder':'R. Außenverteidiger'} }) }} 
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#teamThree" data-parent="#accordion" data-toggle="collapse">Mittelfeld</b></a>
                                        </h4>
                                    </div>
                                    <div id="teamThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ form_widget(form.aufgestellt.lm, { 'attr': {'class': 'form-control', 'placeholder':'L. Mittelfeld'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.zlm, { 'attr': {'class': 'form-control', 'placeholder':'L. Zentral'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.zrm, { 'attr': {'class': 'form-control', 'placeholder':'R. Zentral'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.zdm, { 'attr': {'class': 'form-control', 'placeholder':'Zentral defensiv'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.zom, { 'attr': {'class': 'form-control', 'placeholder':'Zentral offensiv'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.rm, { 'attr': {'class': 'form-control', 'placeholder':'R. Mittelfeld'} }) }}
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#teamFour" data-parent="#accordion" data-toggle="collapse">Sturm</b></a>
                                        </h4>
                                    </div>
                                    <div id="teamFour" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ form_widget(form.aufgestellt.ls, { 'attr': {'class': 'form-control', 'placeholder':'Linker Stürmer'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.ms, { 'attr': {'class': 'form-control', 'placeholder':'Mittelstürmer'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.rs, { 'attr': {'class': 'form-control', 'placeholder':'Rechter Stürmer'} }) }}
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#teamFive" data-parent="#accordion" data-toggle="collapse">Trainer</b></a>
                                        </h4>
                                    </div>
                                    <div id="teamFive" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ form_widget(form.aufgestellt.coach, { 'attr': {'class': 'form-control', 'placeholder':'Trainer'} }) }}
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#teamSix" data-parent="#accordion" data-toggle="collapse">Ersatzbank</b></a>
                                        </h4>
                                    </div>
                                    <div id="teamSix" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ form_widget(form.aufgestellt.sub1, { 'attr': {'class': 'form-control', 'placeholder':'Ersatzspieler'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.sub2, { 'attr': {'class': 'form-control', 'placeholder':'Ersatzspieler'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.sub3, { 'attr': {'class': 'form-control', 'placeholder':'Ersatzspieler'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.sub4, { 'attr': {'class': 'form-control', 'placeholder':'Ersatzspieler'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.sub5, { 'attr': {'class': 'form-control', 'placeholder':'Ersatzspieler'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.sub6, { 'attr': {'class': 'form-control', 'placeholder':'Ersatzspieler'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.sub7, { 'attr': {'class': 'form-control', 'placeholder':'Ersatzspieler'} }) }}                                        
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#teamSeven" data-parent="#accordion" data-toggle="collapse">Wechsel</b></a>
                                        </h4>
                                    </div>
                                    <div id="teamSeven" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {{ form_widget(form.aufgestellt.ch1, { 'attr': {'class': 'form-control', 'placeholder':'z.B. X für Y'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.ch2, { 'attr': {'class': 'form-control', 'placeholder':'z.B. X für Y'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.ch3, { 'attr': {'class': 'form-control', 'placeholder':'z.B. X für Y'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.ch4, { 'attr': {'class': 'form-control', 'placeholder':'z.B. X für Y'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.ch5, { 'attr': {'class': 'form-control', 'placeholder':'z.B. X für Y'} }) }} <br />
                                            {{ form_widget(form.aufgestellt.ch6, { 'attr': {'class': 'form-control', 'placeholder':'z.B. X für Y'} }) }}                                  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}  